.controlsBox{
    display: flex;
    min-width: 120px;
    justify-content: space-around;
    margin-bottom: 10px;
}

.button{
    display: flex;
    min-width: 50px;
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    width: auto;
    flex: auto;
    justify-content: space-between;
}

.gridCell{
    display:flex;
    flex: auto;
    border: 0.5px solid black;
}

.gridRow {
    display: flex;
    flex: auto;
    justify-content: center;
}

.playArea{
    display: flex;
    flex-direction: column;
    flex: auto;
    min-height: 800px;
    min-width: 800px;
    max-width: 800px;
    max-height: 800px;
    justify-content: center;
}

.masterContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}